/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gmarket Sans', sans-serif;
    background-color: #060709;
    /* Cor de fundo geral */
    color: #fff;
    /* line-height: 1.6; */
}

h1,
h2,
h3,
h4 {
    background-image: linear-gradient(rgb(255, 255, 255) 55%, rgb(153, 153, 153) 100%) !important;
    display: inline-block !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

/* Estilo do botão com gradiente */
.btn-gradient {
    display: inline-block;
    padding: 12px 30px;
    /* Espaçamento interno */
    font-size: 1rem;
    /* Tamanho da fonte */
    font-weight: 400;
    /* Peso da fonte */
    color: #ffffff;
    /* Texto branco */
    text-align: center;
    /* Centraliza o texto */
    text-decoration: none;
    /* Remove sublinhado */
    background: linear-gradient(72.2441deg, #1430b8 20.58%, rgba(74, 146, 255, 1) 100%);
    /* Gradiente de fundo */
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 72, 255, 0.5);
    /* Sombra ao redor */
    /* Define borda transparente inicial */
    position: relative;
    /* Para o pseudo-elemento funcionar */
    overflow: hidden;
    /* Garante que o pseudo-elemento não ultrapasse o botão */
    transition: all 0.3s ease;
    /* Suaviza as mudanças */
}

/* Efeito ao passar o mouse */
.btn-gradient:hover {
    text-decoration: none;
    color: #DDDEEC;
    opacity: 1;
    /* Realça a borda ao passar o mouse */
    transform: scale(1.05);
    /* Expande levemente */
}

.bg-top {
    position: absolute;
    top: -14%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

/* Header */
.header {
    /* background-color: #060709; */
}

.header .contant,
section {
    z-index: 1;
}

.header .logo {
    height: 50px;
    /* Ajustar o tamanho do logo */
}

.header .textLogo {
    font-size: 25px;
    text-transform: uppercase;
}

.header a.btn {
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.header a.btn.btn-login {
    align-content: center;
    align-items: center;
    background-color: #646f861a;
    border-radius: 8px;
    display: inline-flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 16px 24px;
    border: none;
    position: relative;
    color: #ffff;
}

/* Botão com gradiente na borda e fundo */
.header a.btn-newCount {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    background: linear-gradient(72.24408090907221deg, #1430b8 20.579999685287476%, rgba(74, 146, 255, 1) 100%);
    /* Fundo do botão */
    z-index: 1;
    /* Garantir que o botão esteja acima */
    overflow: hidden;
    /* Evita que o pseudo-elemento transborde */
    transition: all 0.3s ease-in-out;
}

.header a.btn-newCount::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #1a40ff 0%, rgba(128, 149, 255, 1) 100%);
    /* Gradiente da borda */
    z-index: -1;
    /* Posicionar atrás do botão */
    border-radius: 8px;
    /* Maior que o botão para criar a borda */
    padding: 3px;
    /* Define o espaço da borda */
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    /* Remove a parte interna */
    transition: all 0.3s ease-in-out;
}

.header a.btn-newCount:hover {
    transform: translateY(-2px);
    /* Efeito ao passar o mouse */
}

.header a.btn-newCount:active {
    transform: translateY(0);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    /* Efeito de pressionado */
}


/* Hero Section */
.hero {
    /* background: linear-gradient(180deg, #111831 0%, #0a0d1a 100%); */
    /* Fundo com gradiente escuro */
    padding: 60px 0;
    text-align: center;
}

.hero h1 {
    font-family: 'Gmarket Sans', sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    /* line-height: 58.38px; */
    margin-bottom: 20px;
    /* color: #fff; */
    background-image: linear-gradient(rgb(255, 255, 255) 55%, rgb(153, 153, 153) 100%);
    display: inline-block;
    background-clip: text;
    -webkit-text-fill-color: transparent;


}

.hero p.badge-text {
    text-align: left;
    margin: 0;
    display: grid;
}

.hero p.badge-text .badge-text-legal {
    font-size: 8.11px;
    color: #DDDEEC;
}

.hero p.badge-text .badge-text {
    font-size: .7094rem;
    color: #E3E4E9F2;
}

.hero p {
    font-size: 1rem;
    color: #A4B3D3;
    font-weight: 400;
    /* Texto em tom de cinza */
    /* margin-bottom: 30px; */
}

/* Selo */
.badge-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.badge-icon {
    width: 30px;
    height: 30px;
}

/* Botão */
.hero .btn-hero {
    position: relative;
    /* Necessário para os pseudo-elementos */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(72.2441deg, rgb(20, 48, 184) 20.58%, rgb(74, 146, 255) 100%);
    z-index: 1;
    /* Para garantir que o botão fique acima */
    overflow: hidden;
    /* Garante que os pseudo-elementos não transbordem */
}

.hero .btn-hero::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 12px;
    /* Borda externa maior que o botão */
    background: rgba(255, 255, 255, 0.08);
    /* Cor da borda */
    z-index: -1;
    /* Posiciona atrás do botão */
}

.hero .btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

/* Seção de Trading */
.trading-section {
    position: relative;
    height: 500px;
    /* Altura ajustável */
    background-color: #000;
    /* Cor de fundo base */
    overflow: hidden;
    /* Garante que o conteúdo extra seja ocultado */
}

/* Imagem de fundo */
.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./../images/bg-sub-hero.avif') no-repeat center center;
    background-size: cover;
    filter: brightness(0.8);
    /* Reduz brilho do fundo */
    z-index: 1;
    /* Fundo está no nível mais baixo */
}

/* Gráfico animado */
.chart-container {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    /* Gráfico fica acima do fundo */
}

.chart-img {
    /* width: 90%; */
    /* Ajuste de largura */
    max-width: 80vw;
    /* border-radius: 20px; */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    animation: float 3s infinite ease-in-out;
    /* Animação de "flutuar" */
}

@media screen and (min-width:1024px) {
    .chart-img {
        max-width: 60vw;
    }
}

@media screen and (min-width:1366px) {
    .chart-img {
        max-width: 50vw;
    }
}

/* Animação do gráfico */
@keyframes float {

    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
        /* Posição inicial e final */
    }

    50% {
        transform: translate(-50%, -52%) scale(1.02);
        /* Leve subida e aumento */
    }
}


/* Vantagens */
.vantagens-section {
    /* background: #000; */
    /* Fundo da seção */
}

.card.bg-gradient {
    background:
        radial-gradient(40.126% 40.126% at 100% 50%, rgba(16, 70, 185, 0.36) 0%, rgba(7, 31, 83, 0) 118%),
        radial-gradient(100% 100% at 52% 50%, rgba(34, 41, 55, 0.6) 0%, rgba(35, 42, 56, 0) 100%),
        radial-gradient(40.126% 40.126% at 50% 91%, #060709 0%, rgba(6, 7, 9, 0) 100%);
    /* Gradiente sutil */
    border-radius: 12px;
    /* Bordas arredondadas */
    /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6); */
    /* Sombra */
    overflow: hidden;
    /* Garante que o conteúdo extra seja cortado */
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transições suaves */
}


.card img {
    max-width: 50px;
    /* Tamanho do ícone */
}

.card-title {
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #ffff;
}

.card-text {
    font-size: 0.95rem;
    color: #ABAEBB;
    /* Texto em tom mais claro */
}



/* Timeline Section */
.timeline h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
}

/* Seção da timeline */
.timeline-section {
    background-color: #000;
    /* Fundo escuro */
    position: relative;
    padding: 50px 0;
}

/* Estrutura geral da timeline */
.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Linha vertical limitada aos pontos */
.timeline::before {
    content: "";
    max-height: 47rem;
    position: absolute;
    top: 6rem;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: linear-gradient(147deg, #1c1d22 0%, rgba(45, 50, 71, 1) 47%, rgba(70, 76, 109, 1) 100%);
    z-index: 0;
    transform: translateX(-50%);
}

/* Linha e itens */
.timeline-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    position: relative;
    margin-bottom: 50px;
}

/* Caixa do número */
.timeline-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(147deg, #1c1d22 0%, rgba(45, 50, 71, 1) 47%, rgba(70, 76, 109, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    /* Garante que os círculos fiquem acima da linha */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Texto da timeline */
.timeline-content {
    width: 40%;
    text-align: center;
    z-index: 1;
}

.timeline-content .timeline-text {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
}

/* Caixa da imagem */
.timeline-img-box {
    width: 100%;
    background: linear-gradient(98.42deg, #10141c 12.35%, rgba(100, 111, 134, 0.4) 55.29%, rgba(16, 20, 28, 1) 100%);
    border-radius: 10px;
    height: 12rem;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.timeline-img-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.bg-timeline {
    bottom: 40%;
    position: absolute;
    transform: rotate(90deg);

}


/* FAQ Section */
.faq-section {
    /* background-color: #000; */
}

/* FAQ Item */
.faq-item {
    background: linear-gradient(98.416deg, rgb(16, 20, 28) 12.35%, rgba(100, 111, 134, 0.4) 55.29%, rgb(16, 20, 28) 100%);
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-item:hover {
    transform: translateY(-2px);
    /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); */
}

/* FAQ Question */
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.faq-question:hover .btn-icon {
    transform: scale(1.1);
}

/* FAQ Answer */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 0 15px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-item.active .faq-answer {
    max-height: 150px;
    /* Ajuste conforme necessário */
    padding: 10px 15px;
}

/* Ícones */
.btn-icon {
    background: linear-gradient(rgb(20, 48, 184) 0%, rgb(74, 146, 255) 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-icon i {
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.faq-item.active .btn-icon i {
    transform: rotate(180deg);
}





/* Responsividade */
@media (max-width: 768px) {
    .header a.btn-newCount {
        /* padding: 0; */
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .vantagens .card {
        margin-bottom: 20px;
    }
}